<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="THelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <THelper.Properties.Settings>
            <setting name="NOTIFYICON" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BASECOLOR" serializeAs="String">
                <value>#8FBC8F</value>
            </setting>
            <setting name="MAINCOLOR" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="MAINTOP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GETWORDTOP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ORCTOP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ATUOSTART" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HOTKEYMAIN" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="HOTKEYGETWORD" serializeAs="String">
                <value>101</value>
            </setting>
            <setting name="HOTKEYORC" serializeAs="String">
                <value>102</value>
            </setting>
            <setting name="ATUOUPDATE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TIMEOUT" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="DEFAULTTRANSL" serializeAs="String">
                <value />
            </setting>
            <setting name="WINDOWSATUTS" serializeAs="String">
                <value>False</value>
            </setting>
        </THelper.Properties.Settings>
    </userSettings>
</configuration>
